<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843730414004-jtrsk6mll9apqe18bkgcdpoqoneqsn5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843730414004-jtrsk6mll9apqe18bkgcdpoqoneqsn5v</string>
	<key>API_KEY</key>
	<string>AIzaSyAGttTmpoZzw1-ON1IXsD__ix1blN6hhww</string>
	<key>GCM_SENDER_ID</key>
	<string>843730414004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hacktoge</string>
	<key>PROJECT_ID</key>
	<string>social-buddy-f0a9d</string>
	<key>STORAGE_BUCKET</key>
	<string>social-buddy-f0a9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843730414004:ios:a1bb1e2c86587dec12eae1</string>
</dict>
</plist>